<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="css/createPost.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="logo">Foodogram</h2>
        
        <div class="create">
          <!-- <label class="btn btn-primary" for="create-post">
                    <span>Create </span>
                    </label> -->
          <div class="profile-picture">
            <a href="/logout"> <a href="/logout"><img src="./Images/profile.jpg" alt="logo" /></a></a>
          </div>
        </div>
      </div>
    </nav>
    <!---main-->
    <main>
      <div class="container">
        <!--Leftbox-->
        <div class="left">
          <a href="" class="profile">
            <div class="profile-picture">
              <img src="./Images/profile.jpg" alt="logo" />
            </div>
            <div class="handle">
             <h3><%=user.name%></h3>
              <!-- <p class="text-muted">@username</p> -->
            </div>
          </a>
          <!--sidebar-->
          <div class="sidebar">
            <a href="/home" class="menu-item">
              <span> <i class="uil uil-home"></i></span>
              <h3>Home</h3>
            </a>
            <a href="/home" class="menu-item" id="message-notification">
              <span> <i class="uil uil-message"></i></span>
              <h3>Messages</h3>
            </a>
            <a href="/findmybuddy" class="menu-item">
              <span> <i class="uil uil-users-alt"></i></span>
              <h3>Find My Buddy</h3>
            </a>
            <!-- <label for="create-post" class=" btn btn-primary">Create Post</label> -->
          </div>
        </div>
        <!--right-->
        <div class="right">
         
          <% if(typeof(path) == 'undefined') { %>
          <form action="/addimage" method="post" enctype="multipart/form-data">
          <div class="messages">
            <div class="heading">
              <h4>Upload Your Image <label for="file-ip-1"><i class="uil uil-plus" id="plus"></i></label>
                <label for="file-ip-1"><i class="uil uil-edit" id="edit"></i></label></h4>
                
              <div class="form-input">
                <div class="preview">
                  <img id="file-ip-1-preview">
                </div>
                
                <input type="file" name="filename" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                <div>
                <button id="uploadbtn" type="'submit" class="btn btn-submit">Next</button>
                </div>
              </div>
            </div>
            </div>
            </form>
            <%}%>
           <% if(typeof(path) != 'undefined') {%>
            
            <div class="messages">
              
              <div class="preview2">
                <img  src='./<%=path%>' id="file-ip-1-preview" >
              </div>
            <div class="message" id="imagecap">
              <div class="message-body">
                <div class="action">
                  <% if(typeof(caption) != 'undefined') {%>
                  <p class="image-cap1"><%=caption%></p>
                  <%}%>
                  <% if(typeof(captioncrawl) != 'undefined') {%>
                    <h5>Detected <%=classify%>...</h5>
                    
                  <p class="image-cap-crawled"><%=captioncrawl%></p>
                  <h4> Here are few more recommendations :</h4>
                  <form action="/altcap" method="post">
                  <ol>
                    <% for (var i = 0; i < altcap.length; i++) { %>
                    <li><button type="radio" name="altcaption" value="<%=altcap[i]%>"> <%= altcap[i] %></button></li>
                    <%}%>
                  </ol>
                  
                  <%}%>
                  </form>
                  <br/>
                  <input type="text" name="own" class="image-cap2" placeholder="write your own caption">
                  <form action="/generate" method="post">
                  <div class="buttons">
                  <button class="btn btn-primary" id="generate-caption">
                      Generate Caption
                  </button>
               </form>
               
              <form action="/classify" method="post">
              
                <button class="btn btn-primary"  id="generate-caption-ig">
                Not Impressed? Use our Caption Crawler 
              </button>
           </form>
            </div>
            
                  <label class="btn"  name="own" id="write-caption" onClick="displayManual()">
                     Write your caption
                  </label>
                 
              </div>
              <form action="/post" method="post">
              <div class="submit">
                <button type="submit" value="Post" class="btn btn-submit">Post</button>
                
              </div>
              </div>
              </div>
              <%}%>
            </div>
          </form>
          </div>
          
        </div>
      </div>
    </main>

    <!-- <script src="./index.js"></script> -->
  </body>
  
  <script type="text/javascript">
  function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.src = src;
    preview.style.display = "block";
    document.getElementById("plus").style.display = "none";
    document.getElementById("edit").style.display = "block";
    document.getElementById("uploadbtn").style.display = "block";
  }
  
}
function displayManual(){
  document.getElementsByClassName("image-cap2")[0].style.display = "block";
  document.getElementById("write-caption").style.display = "none";
  document.getElementById("generate-caption").style.display = "none";
  document.getElementById("generate-caption-ig").style.display = "none";
  
}

</script>
</html>
